.header {
  position: relative;
  margin: 92px 24px 96px;
  padding: 0 26px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.header__menu {
  align-self: center;
}

.header__links-list {
  display: flex;
}

.header__link-list-item {
  list-style-type: circle;
  margin: 0 15px 0 10px;
  padding: 0 5px 0;
}

.header__link {
  border-bottom: 1px solid #000;
}

.header__link-list-item_no-bullit {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.header__link_active {
  border: 0;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  position: absolute;
  left: 454px;
  border: 0;
}

.header__logo-image {
  height: 100%;
}

.header__address {
  margin-top: 5px;
}

.address {
  width: 240px;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}

.cover {
  background: center / cover url(../images/cover.jpg) no-repeat;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding: 165px 50px 51px;
  margin: 0 0 179px;
}

.overlay {
  position: absolute;
  background: #000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.cover__title {
  position: relative;
  font-size: 100px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 30px;
  margin-bottom: 135px;
  z-index: 1;
}

.aligned-text {
  display: block;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.letter-no-spacing {
  letter-spacing: 0;
}

.aligned-text_left {
  line-height: 1.15;
}

.aligned-text_center {
  text-align: center;
  margin: 20px auto;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  font-weight: normal;
  align-self: center;
  word-spacing: 19px;
  padding-left: 28px;
}

.bet-button {
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0);
  padding: 12px 32px;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 26px;
}

.lots {
  margin: 0 24px 146px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 47px;
  margin: 0 auto 27px 40px;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}

.card__type-film {
  background: url(../images/card-lot-01.jpg);
}

.card__type-book {
  background: url(../images/card-lot-02.jpg);
}

.card__type-picture {
  background: url(../images/card-lot-03.jpg);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 563px;
  color: #fff;
  padding: 51px 40px 48px;
  background-size: cover;
  background-position: center;
}

.card-link {
  text-decoration: none;
}

.card__title {
  position: relative;
  z-index: 1;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  text-decoration: underline;
  border: 0;
  margin: 30px auto 0 40px;
}

.about {
  display: flex;
  justify-content: space-between;
  gap: 72px;
  margin: 0 24px 185px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 240px;
  background: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin-top: 35px;
  margin-left: 47px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__description {
  margin-top: 135px;
}

.about__title {
  font-size: 40px;
  line-height: 47px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 100px 0;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 88px;
}

.footer__menu-list {
  font-size: 18px;
  text-align: center;
}

.footer__menu-link_active {
  border: 0;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}

.footer__social-link {
  border: 0;
}